{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stealth/style.css' %}">
        <title>Stealth Mode</title>
    </head>

    <body>
        <header></header>
        <h1>We are currently in stealth mode</h1>
        <p>At Silent we believe that not everything needs change to be better. That's why we are building things the same as before.</p>
        <p>Want to join the same as before movement? Leave us your email and we'll be in touch.</p>
        
        <form action="index.html" method="POST">
            <p><input type="email" name="email" placeholder="Enter email" value=""/></p>
            <p><input type="submit" value="submit" /></p>
        </form>
        <footer></footer>
    </body>
</html>
