{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stealth/style.css' %}">
        <title>Stealth Mode</title>
    </head>

    <body>
        <header class="header">
            <img src="{{STATIC_URL}}/stealth/images/logo.png" / >
        </header>
        <h1>We are currently in stealth mode</h1>
        <p>At Silent we believe that not everything needs change to be better. That's why we are building things the same as before.</p>
        <p>Want to join the same as before movement? Leave us your email & LinkedIn profile below and we'll be in touch.</p>
        
        <div class="container">
            <div class="box-1">
            <p class="callout">Join the waitlist now - you won't be dissapointed</p>
            <form action="index.html" method="POST">
                <p><input class="input-box" type="email" name="email" placeholder="<Email>" value=""/></p>
                <p><input class="input-box" type="linkedin" name="linkedin" placeholder="<LinkedIn Profile>" value=""/></p>
                <p><input class="button" type="submit" value="Join the movement" /></p>
            </form>
            </div>
        </div>
        <footer class="footer"></footer>
    </body>
</html>
