{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stealth/style.css' %}">
        <title>Stealth Mode</title>
    </head>

    <body>

        <header class="header">
            <img class="logo" src="{% static "stealth/images/logo_nw.png" %}" alt="My image"/>
        </header>

        <h1 class="title">We are currently in stealth mode</h1>

        <div class="container-main">

            <section class="container-left">
                <p>At Silent we believe that not everything needs change to be better.</p>
                <p>That's why we are building things the same as before.</p>
                <p>Want to join the same as before movement?</p>
            </section>

            <section class="container-right">
                <p class="callout">Join the waitlist</p>
                <form action="index.html" method="POST">
                    <p><input class="input-box" type="email" name="email" placeholder="Email" value=""/></p>
                    <p><input class="input-box" type="linkedin" name="linkedin" placeholder="LinkedIn Profile" value=""/></p>
                    <p><input class="button" type="submit" value="Start Here" /></p>
                </form>
            </section>
            
            <div class="clr"/>

        </div>

        <footer class="footer">
            <p class="copyright"><a href="privacy.html">Privacy Policy</a> | <a href="faq.html">FAQ</a> | Silent Change &copy; 2020 Silent Change Inc.</p>
        </footer>

    </body>
    
</html>
